body
{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #1272da;
        
}
.container 
{
    max-width: 500px;
    margin: auto;
}
button 
{
    padding: 10px 20px;
    background-color: #ee66aa;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
img 
{
    max-width: 100%;
        height: auto;
}
#finishMessage {
    color: rgb(251, 255, 0);
    font-weight: bold;
    margin-top: 20px;
}